object 'F_MBP::GETL_MBP' : InterfaceWindow {
  Title = 'Выберите СФО';
  Centered = True;
  object GETKATMBP : Browser {
    ViewFlags = 6;
    RowColorDark = 10;
    VerDelimiterWidth = 1;
    object 'c_GETKATMBP_KATMBP.NAME_Наименование' : Column {
      DefaultWidth = 5;
    } // c_GETKATMBP_KATMBP.NAME_Наименование : Column
    object 'c_GETKATMBP_KATMBP.NNUMBER_Номенклатурный_номер' : Column {
      DefaultWidth = 3;
    } // c_GETKATMBP_KATMBP.NNUMBER_Номенклатурный_номер : Column
    // Информация: объект "'GetKauReffName('KATMC',katmc.nrec,10265)'" типа Column не найден в базовой конфигурации!
    object 'GetKauReffName(''KATMC'',katmc.nrec,10265)' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'ВЭД';
      HelpLine = '';
      FieldName = 'GetKauReffName(''KATMC'',katmc.nrec,10265)';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 3;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = '<не установлено>';
      FontItalic = '<не установлено>';
      FontUnderline = '<не установлено>';
      FontStrikeout = '<не установлено>';
      FontColor = '<не установлено>';
      FontBackColor = '<не установлено>';
      InputMask = '<не установлено>';
      FixedState = 0;
      EditButton = False;
      Hyperlink = False;
      LessValue = False;
      HeaderImageName = '';
      CurRowFontBold = '<не установлено>';
      CurRowFontItalic = '<не установлено>';
      CurRowFontUnderline = '<не установлено>';
      CurRowFontStrikeout = '<не установлено>';
      CurRowFontColor = '<не установлено>';
      CurRowFontBackColor = '<не установлено>';
      HeaderAlign = 3;
    } // GetKauReffName('KATMC',katmc.nrec,10265) : Column
    // Информация: объект "'GetKauReffName('KATMC', katmc.nrec, 10261)'" типа Column не найден в базовой конфигурации!
    object 'GetKauReffName(''KATMC'', katmc.nrec, 10261)' : Column {
      Original = False;
      Visible = True;
      Hidden = False;
      Protect = True;
      Skip = False;
      UpCase = False;
      Password = False;
      NoValidCheck = True;
      StatusCtx = 16;
      Title = 'Import';
      HelpLine = '';
      FieldName = 'GetKauReffName(''KATMC'', katmc.nrec, 10261)';
      DefaultValue = '';
      Strings = ( // Список строк
      )
      StringsNull = 0;
      Index = 4;
      DefaultWidth = 26;
      TextAlign = 0;
      ButtonType = 0;
      DefaultPickButton = False;
      SpinInc = 0.0;
      SpinMin = 0.0;
      SpinMax = 0.0;
      NoAutoSize = False;
      EnumValues = ( // Список целых
      )
      PassiveFormat = '';
      Points = 0;
      MaxLen = 255;
      PrecisionVarName = '';
      HistoryID = 0;
      DropTarget = False;
      DropSource = False;
      FontBold = '<не установлено>';
      FontItalic = '<не установлено>';
      FontUnderline = '<не установлено>';
      FontStrikeout = '<не установлено>';
      FontColor = '<не установлено>';
      FontBackColor = '<не установлено>';
      InputMask = '<не установлено>';
      FixedState = 0;
      EditButton = False;
      Hyperlink = False;
      LessValue = False;
      HeaderImageName = '';
      CurRowFontBold = '<не установлено>';
      CurRowFontItalic = '<не установлено>';
      CurRowFontUnderline = '<не установлено>';
      CurRowFontStrikeout = '<не установлено>';
      CurRowFontColor = '<не установлено>';
      CurRowFontBackColor = '<не установлено>';
      HeaderAlign = 3;
    } // GetKauReffName('KATMC', katmc.nrec, 10261) : Column
    object 'c_GETKATMBP_RELATE_МЦ' : Column {
      Index = 5;
    } // c_GETKATMBP_RELATE_МЦ : Column
  } // GETKATMBP : Browser
} // F_MBP::GETL_MBP : InterfaceWindow
//-----------------------------------------------------------------------------
